<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
		
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="osiris.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="osiris.My.MySettings.bdisisConnectionString" connectionString="Dsn=isis;server=agenda.medvital.com.py;uid=liberty;pwd={l1b3rty*};database=bdisis;port=3337"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <osiris.My.MySettings>
      <setting name="ip_servidor" serializeAs="String">
        <value>"192.168.1.27"</value>
      </setting>
      <setting name="ftp" serializeAs="String">
        <value>ftp://192.168.10.136:21</value>
      </setting>
      <setting name="ip_agenda" serializeAs="String">
        <value>"192.168.1.27"</value>
      </setting>
      <setting name="visorMicro" serializeAs="String">
        <value>"C:\Program Files\MicroDicom\mDicom.exe"</value>
      </setting>
      <setting name="visorRadiant" serializeAs="String">
        <value>"C:\Program Files\RadiAntViewer64bit\RadiAntViewer.exe"</value>
      </setting>
    </osiris.My.MySettings>
  </userSettings>
</configuration>